.popup-overlay-register-mor {
  transition: all 0.5s ease;
  &.opened {
    opacity: 1;
    visibility: visible;
  }
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px);
}

.popup-register-mor {
  &.opened {
    animation: fadeIn 0.3s ease-in-out;
  }
  display: flex;
  flex-direction: column;
  background: #2c2c2c;
  padding: 24px;
  border-radius: 12px;
  border: 1px white solid;
  width: 600px;
  max-width: 90%;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  animation: fadeOut 0.3s ease-in-out;

  .input-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // 2 cột có kích thước bằng nhau
    gap: 24px; // Khoảng cách giữa các ô
    margin-bottom: 40px;
    .form-group {
      display: flex;
      flex-direction: column;
      height: 70px;

      label {
        font-size: 14px;
        margin-bottom: 6px;
        font-weight: bold;
      }
    }
  }

  .top-form-register-mor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    h2 {
      text-align: center;
      font-size: 32px;
    }

    .logo-register-mor {
      max-height: 100px;
      max-width: 100px;
    }
  }

  .register-mor {
    font-size: 14px;
    margin-block: 0px;
    text-align: left;
    margin: 20px 0 60px 0;
    p {
      margin-block-start: 0px;
      margin-block-end: 0px;
    }

    a {
      margin-block-start: 0px;
      margin-block-end: 0px;
      color: #007bff;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s;

      &:hover {
        text-decoration: underline;
        color: #0056b3;
      }
    }
  }

  .bottom-btn {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 12px;
    .form-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
    }
  }

  .close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    font-size: 22px;
    color: white;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #ff4d4d;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-40px);
  }
}
