<div
  class="popup-overlay-update-password"
  (click)="closePopupOnOutside($event)"
  [class.opened]="(openedForms$ | async)?.['update-password']"
>
  <div
    class="popup-update-password"
    [class.opened]="(openedForms$ | async)?.['update-password']"
    #popupContainer
  >
    <div class="top-form-update-password">
      <h2>Đổi mật khẩu</h2>

      <img src="assets/logo.png" alt="" class="logo-update-password" />
    </div>

    <div class="input-area">
      <!-- Tên tài khoản hoặc email -->
      <div class="form-group">
        <app-dynamic-input
          type="password"
          label="Mật khẩu cũ"
          [variant]="'secondary'"
          [isSvg]="true"
          placeholder="Nhập mật khẩu cũ"
          [value]="data.oldPassword"
          (valueChange)="handleOnChangeOldPassword($event.toString())"
          [required]="true"
          [shouldValidate]="shouldValidate"
          (validationResult)="handleValidationResult($event)"
          (enterPress)="onFormSubmit()"
        ></app-dynamic-input>
      </div>

      <!-- Mật khẩu -->
      <div class="form-group">
        <app-dynamic-input
          type="password"
          label="Mật khẩu mới"
          [variant]="'secondary'"
          [isSvg]="true"
          placeholder="Nhập mật khẩu mới..."
          [value]="data.newPassword"
          (valueChange)="handleOnChangeNewPassWord($event.toString())"
          [required]="true"
          [shouldValidate]="shouldValidate"
          (validationResult)="handleValidationResult($event)"
          (enterPress)="onFormSubmit()"
        ></app-dynamic-input>
      </div>

      <!-- Mật khẩu -->
      <div class="form-group">
        <app-dynamic-input
          type="password"
          label="Xác nhận mật khẩu mới"
          [variant]="'secondary'"
          [isSvg]="true"
          placeholder="Nhập lại mật khẩu mới..."
          [value]="confirmPassword"
          (valueChange)="handleOnChangeConfirmPassWord($event.toString())"
          [required]="true"
          [shouldValidate]="shouldValidate"
          (validationResult)="handleValidationResult($event)"
          (enterPress)="onFormSubmit()"
        ></app-dynamic-input>
      </div>
    </div>

    <div class="bottom-btn">
      <div class="form-actions">
        <app-interactive-button
          [buttonText]="'Huỷ'"
          [buttonType]="'primary'"
          [buttonSize]="'small'"
          [isDisabled]="false"
          [iconName]=""
          [tooltipText]="'Nhấn để xác nhận'"
          (buttonClick)="closePopup()"
        ></app-interactive-button>
        <app-interactive-button
          [buttonText]="'Xác nhận'"
          [buttonType]="'primary'"
          [buttonSize]="'small'"
          [isDisabled]="false"
          [isLoading]="loading"
          [iconName]=""
          [tooltipText]="'Nhấn để xác nhận'"
          (buttonClick)="onFormSubmit()"
        ></app-interactive-button>
      </div>
    </div>
  </div>
</div>
