.uploaded-film-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .head-title-uploaded-film {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 16px;
    padding: 20px 0;
    color: white;
    position: relative;

    .label-uploaded-film {
      font-size: 24px;
    }
    .btn-addnew-film {
      font-size: 24px;
      border: 1px white solid;
      padding: 0 7px;
      cursor: pointer;
      border-radius: 4px;
      &:hover {
        color: green;
      }
    }

    .dropdown-menu {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #2d2d2d;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 8px 0;
      max-width: 0px;
      z-index: 10;
      opacity: 0;
      max-height: 200px;
      overflow: hidden;
      transition: all 0.3s ease;

      &.opened {
        opacity: 1;
        border: 1px solid #ddd;
        max-width: 300px; // Điều chỉnh độ cao tối đa
      }

      .dropdown-item {
        padding: 10px 16px;
        color: white;
        cursor: pointer;
        transition: background 0.3s;
        white-space: nowrap;

        &:hover {
          background: #3a3a3a;
        }
      }
    }
  }

  .create-form-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;

    .add-series-container {
      overflow: hidden; /* Tránh nội dung bị nhảy */
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      app-add-series {
        width: 100%;
      }
    }

    .add-create-anime-pending-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      app-create-anime-pending {
        width: 100%;
      }
    }
    .create-tag-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      app-create-tag {
        width: 100%;
        flex: 1;
        margin-left: 12px;
      }
      app-tag-list {
        width: 100%;
        max-height: 496px;
        overflow-x: hidden;
        border-radius: 12px;
        margin: 0 12px 12px 12px;
        border: #ddd 1px solid;
        flex: 3;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .video-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .video-list-container {
      .title-list-ontop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #4e4c4c;
        color: white;
        padding: 12px 16px;

        .title-head-content {
          font-size: 24px;
          font-weight: bold;
        }

        .show-more {
          font-style: italic;
          cursor: pointer;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: rgb(138, 153, 240);
          }
        }
      }

      .video-grid {
        display: grid;
        gap: 10px;
        padding: 10px;
        grid-template-columns: repeat(
          auto-fit,
          minmax(135px, 1fr)
        ); /* Tự động co giãn */
      }
    }
  }
}
